[2021-05-10 12:04] agrignard opened #1 "GIS file for 4 scenarios"
We will need to provide for each of the 4 scenario 3 differents shapefile: landuse, building and road

So far a first step has been made in this commit https://github.com/CityScope/CSL_HCMC/commit/1526e609b3d465306432c17680a3663b9b408de4 where th Scenario2/LandUSe_Scenario2 has been pushed.

So what we miss now is:

Scenario 0 : District 4 as it really is in 2021
<img width="626" alt="Screenshot 2

[2021-05-10 14:50] popabczhang commented on #1
@agrignard, this is a great, clear data request! Thank you!

[2021-05-12 12:53] agrignard opened #2 "OD matrices"
Provide the  OD file Warp to Warp

[2021-05-13 10:12] doorleyr opened #3 "Aggregate survey data to crate ward level home, work and O-D files"
The survey data contains information on home ward, work ward and many other demographic variables such as income, age etc.

The data can be grouped by home ward and aggregated in order to calculate the population in each ward, by demographic attributes. The format of the residential population file should be something like the following:

| Ward  | Res_Population_Total | Res_Population_Low_Income

[2021-05-13 11:12] LAAP commented on #3
Hi @doorleyr ,

Thanks for sharing this I think it is a very clear example. @nqlong-vlab , please, let us know your thoughts

[2021-05-15 17:43] agrignard commented on #1
First iteration with GIS for the 4 scenarios + Population (still some slight adjustment but the file look pretty promising) https://github.com/CityScope/CSL_HCMC/commit/e4449b8508fc00d0c1ef6598c901c5a6ee99a068

[2021-05-16 17:21] nqlong-vlab commented on #3
Hi @LAAP
1. In survey data, the salary were diveded in 15 ranges, so do you want to aggregate into 3 groups : low, medium and high.
<img width="550" alt="Screen Shot 2021-05-17 at 00 16 16" src="https://user-images.githubusercontent.com/74805596/118406264-7b559f00-b6a5-11eb-861d-357a9c8585bc.png">
2. About the age group, I will agrreagate by 10: 1-10, 11-20, 21-30.... Is this right.

[2021-05-17 11:46] doorleyr commented on #3
I think low, medium and high makes sense for both income and age. Ideally, the categories should be like quantiles. i.e. overall they contain equal proportions of the population.

[2021-05-17 16:02] nqlong-vlab commented on #2
Hi @agrignard, please check this #6

[2021-05-17 16:02] #2 closed

[2021-05-17 16:10] nqlong-vlab commented on #3
I will  classify both incomge and age by 3 equal intervals ( 33% -33% -33%) and we will see which insight is.
But in my thought, I prefer the quantiles 4 intervals 25%
Or I will  aggregate 2 methods.

[2021-05-20 11:21] doorleyr commented on #3
An O-D matrix file (Survey_OD) has been added. However, this is district-to-district which is too coarse. Since the survey data contain ward-level addresses it should be possible to create a ward-to-ward O-D matrix.

[2021-05-21 19:00] nqlong-vlab commented on #3
I have uploaded the O-D ward to ward in [This Folder](https://github.com/CityScope/CSL_HCMC/tree/main/Data/GIS/OD_2014/OD_Shapefile) . You can view it now.

[2021-05-24 11:34] doorleyr commented on #3
@nqlong-vlab thanks, the ward-to-ward OD matrix looks good.

As for the residential-population and working-population files, please let me know if you want my help in producing these. I'm happy to help but I just want to make sure we don't duplicate efforts.

[2021-05-24 12:23] doorleyr opened #9 "Define the land use types using the CityScope Types system"
In order for CS modules to understand the land use changes in each scenario, each of these land uses (eg. Educational, Commercial, Public Facility) must be defined using the [Types System](https://cityscope.media.mit.edu/modules/Types%20System). At minimum, each 'Type' should have a defined mix of NAICS codes and LBCS codes. These should be in a json file. For an example, please see the [Corktown

[2021-05-24 16:21] doorleyr commented on #3
@nqlong-vlab On closer inspection of the O-D file, I'm having some trouble with it. I need to be able to link the origins and destinations to a shape file. Therefore, the origin ward and destination wards should be specified using a ward ID which corresponds to the IDs used in a shape file. There are several columns in the OD file relating to wards but it's not clear to me which GIS file I can lin

[2021-05-24 16:37] doorleyr opened #10 "POIs outside D4"
The POI data provided only cover District 4. However, some POIs outside of D4 will still be accessible from D4. Therefore, if we want to model, for example, 15 minute walking accessibility in D4, we need to also have information about POIs in the districts immediately surrounding D4.

[2021-05-31 16:25] dangbuingochan commented on #9
Hi Ronan,
I have uploaded land-use type code. you also find it in
[https://github.com/CityScope/CSL_HCMC/blob/d5c86216023b48f5577685d49b7adb2c332bcce2/Data/GIS/landuse_code/List%20of%20landuse%20type%20name%20(landuse-2).xlsx](here).

[2021-05-31 16:30] dangbuingochan commented on #9
Hi Ronan,

I have uploaded land use type code [here].(https://github.com/CityScope/CSL_HCMC/blob/d5c86216023b48f5577685d49b7adb2c332bcce2/Data/GIS/landuse_code/List%20of%20landuse%20type%20name%20(landuse-2).xlsx)

[2021-06-01 14:07] nqlong-vlab commented on #3
@doorleyr  I have update the code matching to ward code in Population in https://github.com/CityScope/CSL_HCMC/commit/6f352bd7be74fe49b2ccfc0181cc9c79a9f534c6
<img width="1678" alt="Screen Shot 2021-06-01 at 21 01 52" src="https://user-images.githubusercontent.com/74805596/120337166-4429f380-c31d-11eb-9834-0fbf97dbb604.png">
<img width="1679" alt="Screen Shot 2021-06-01 at 21 02 03" src="https://u

[2021-06-01 14:31] doorleyr commented on #3
The O-D file looks good now. Keeping the issue open as we still need the home and work files as described in the original issue.

[2021-06-01 16:35] Hai-Hoang-88 commented on #3
Thanks Long @nqlong-vlab . The table is expected to be available this weekend.
@doorleyr We are having a bit issue with finding the number of jobs (work_population) in WAC dataset
we plan to scrawl the location of working places (offices, market, ...) from google map and other sources, and link that Points to our buildings footprint to have working areas. From that we calculate the number of jobs.

[2021-06-08 08:38] doorleyr commented on #10
@nqlong-vlab do you have any updates on this?

[2021-06-08 09:22] doorleyr commented on #3
@Hai-Hoang-88 since we have the O-D matrix, this means we must already have information  about the number of jobs in each district. It's just a matter of aggregating the survey data by work ward only rather than aggregating by both home and work ward.

The "field of employment" is also in the survey data (Q29) so you can aggregate by work ward and job type to get the number of jobs in each field i

[2021-06-08 10:35] doorleyr commented on #3
Update: @Hai-Hoang-88 can you please take a look at this notebook where I have attempted to create a basic version of the home and work area files:
https://github.com/CityScope/CSL_HCMC/blob/main/notebooks/aggregate_survey_data.ipynb

Does this make sense? Also can you confirm if the home and work address fields in these survey data correspond to the 'Com_ID' field in the Population shapefile?

[2021-06-08 15:15] dangbuingochan commented on #3
Hi @doorleyr, with HIDS surveys, we have an English version of the survey form. I attach it here to you: (1) form for [all members](https://github.com/CityScope/CSL_HCMC/files/6617715/HISform_HCM-English.version.11.allmembers.docx), (2) form for the [household head](https://github.com/CityScope/CSL_HCMC/files/6617701/HISform_HCM-English.version.11.household.head.docx).
I hope it can help you more.

[2021-06-09 09:05] Hai-Hoang-88 commented on #3
@doorleyr the file looks good to me. @nqlong-vlab Do you have any comments on this?
For EN version, please refer to what @dangbuingochan's (Han) comment. The file you have loaded in Jupiter is excels file, the questions includes:
1. number of question
2. the question themselves (in VN, unfortunately)

You can find correspondent in EN version by matching the number question with the file Han has se

[2021-06-09 13:17] LAAP commented on #9
Hi @doorleyr and @dangbuingochan , I think that @Markus and I will make a first pass of the correlation between NAICS and LBCS and the proposed types. We will share it ASAP

[2021-06-13 15:46] LAAP commented on #9
Dear @doorleyr and @dangbuingochan ,

Please let me share the 1st pass through the Types document that we have made. We recommend to have a-meeting and re-visit the list together:

[List of landuse type name (landuse-1) R-M_L.xlsx](https://github.com/CityScope/CSL_HCMC/files/6644173/List.of.landuse.type.name.landuse-1.R-M_L.xlsx)

In the document, you will find:
-In Orange, some land-uses that loo

[2021-06-13 18:17] nqlong-vlab commented on #10
@doorleyr : POI have updated ousite D4  in #14 , you can pull the new and review it.
<img width="853" alt="Screen Shot 2021-06-14 at 01 15 50" src="https://user-images.githubusercontent.com/74805596/121817879-42154c80-ccae-11eb-8841-4396223eebac.png">

[2021-06-13 18:17] #10 closed

[2021-06-13 18:49] nqlong-vlab commented on #9
Hi @LAAP , thank you for your supporting. Data team will review the table quickly and set up a meeting.

[2021-06-14 12:29] doorleyr commented on #3
@Hai-Hoang-88 the home and work address fields in the survey data range from 1 to 311. The Com_ID in the Population file is a 5 digit number eg '27268'.

How can I map between these two different codings?

From looking at the two iterations of the OD file, it looks like the 'Start_Code' field was updated between iterations (eg. 1 -> 26734). So I think I just need this mapping. Can you tell me wher

[2021-06-14 13:55] LAAP commented on #9
OK. Perfect. Thank you @nqlong-vlab

[2021-06-14 15:06] dangbuingochan commented on #3
@doorleyr  I double-checked, "Start_code" in OD_2014 and "Com_id" in Population is the same code. Please check it again and tell me if it has any errors.

The map code for the HIDS survey is the Zone code, you can find it [here](https://drive.google.com/file/d/172o5svDSsN_GQ0mbXLbr4hVUMqdvKrap/view?usp=sharing) (table 4.2.1/p65). And I have uploaded the [Census shapefile](https://github.com/CitySc

[2021-06-14 16:11] agrignard commented on #9
Just to be clear on this at some point those land use will have to be updated in the corresponding GIS file that we already agreed together here
https://github.com/CityScope/CSL_HCMC/issues/1

[2021-06-14 16:12] doorleyr commented on #3
@dangbuingochan yes, it's true that the 'Start_code' in OD_2014 matches the 'ComId' in Population.shp. However, I am now working directly with the survey data and the home and work addresses in the raw survey data are integers between 1 and 311. This does not match with the 'Start_code' in OD_2014 or the 'ComId' in Population.shp.

We previously had the same problem with an earlier iteration of th

[2021-06-15 03:22] dangbuingochan commented on #3
@doorleyr Oh, I see. I uploaded it to google drive, you can find it [here](https://docs.google.com/spreadsheets/d/1_TAMp3qdd_hxkDFhDbPVwVdxvCy5MRgY/edit?rtpof=true).

[2021-06-15 08:25] agrignard commented on #3
@dangbuingochan would it be possible to update all the relevant file in the github instead as agreed so it's easier for us to keep track of the work done.

MAybe at some point ones the file are consolidated it woul d be nice to document (why not in a wiki) which files are relevant and what are the corresponding OD matrices. @doorleyr is it something you an take care of in a wiki page for instance?

[2021-06-15 08:31] agrignard opened #18 "Rasterization of the 4 scenario in a CityScope Grid"
In order to convert the 4 scenarios in a compatible CityScope format we need to rasterize (or legotize) the 4 already existing scenarios in a grid format (ideally as proposed by @popabczhang in a 30x30m grid cell size if it's not to big for cityIO).

To do so we first need to close this issue
https://github.com/CityScope/CSL_HCMC/issues/1
and this one
https://github.com/CityScope/CSL_HCMC/issues/9

[2021-06-15 09:20] agrignard opened #19 "Building layer consistency"
In order to complete issue #1 there is still some atomic change that needs to be done concerning the building

Can you please change the file so we have the same consistency for each scenario as you can see here scenario 0 and 1 are covering district 4 + Surrounding but Scenario 2 and 3 are only providing the port area
Scenario 0
<img width="1237" alt="Screenshot 2021-06-15 at 11 17 57" src="https

[2021-06-15 09:24] agrignard opened #20 "Road Network consistency"
In order to complete issue #1 there is still some atomic change that needs to be done concerning the Road network
Can you please change the file so we have the same consistency for each scenario as you can see here scenario 0, 1 and 3  are covering only district 4 whereas scenario 2 is covering all the area
Scenario 0
<img width="1193" alt="Screenshot 2021-06-15 at 11 21 27" src="https://user-imag

[2021-06-15 09:27] agrignard opened #21 "LandUse consistency"
In order to complete issue #1 there is still some atomic change that needs to be done concerning the Landuse

Can you please change the file so we have the same consistency for each scenario as you can see here scenario 0 and 1 are covering district 4 + Surrounding but Scenario 2 and 3 are only providing the port area
Scenario 0
<img width="1223" alt="Screenshot 2021-06-15 at 11 25 35" src="https:

[2021-06-15 09:43] nqlong-vlab commented on #19
Hi @agrignard , you should pull the latest commit in github. I have reviewed once again. Building data are full in 4 scenarios.
Scenario 0:
<img width="1012" alt="Screen Shot 2021-06-15 at 16 39 27" src="https://user-images.githubusercontent.com/74805596/122031093-8f053a00-cdf8-11eb-838e-ac24aef4cad5.png">
Scenario 1:
<img width="1012" alt="Screen Shot 2021-06-15 at 16 39 51" src="https://user-ima

[2021-06-15 09:43] #19 closed

[2021-06-15 09:47] doorleyr commented on #3
@dangbuingochan thanks, this is the right type of file but unfortunately it only goes up to 265. The codes in the survey data go up to 311. Can you provide the complete mapping?

[2021-06-15 09:47] nqlong-vlab commented on #21
Hi @agrignard, you should update the latest commit.
Scenario 0:
<img width="1157" alt="Screen Shot 2021-06-15 at 16 45 21" src="https://user-images.githubusercontent.com/74805596/122031903-54e86800-cdf9-11eb-846d-677edbf6cdc2.png">
Scenario 1:
<img width="1157" alt="Screen Shot 2021-06-15 at 16 45 27" src="https://user-images.githubusercontent.com/74805596/122031920-59148580-cdf9-11eb-855a-f4f8185

[2021-06-15 09:47] #21 closed

[2021-06-15 09:49] agrignard commented on #19
Ok this is great indeed it's ok in the last commit

[2021-06-15 09:49] agrignard commented on #21
Awesome

[2021-06-15 09:50] agrignard commented on #20
Fix also in the last commit

[2021-06-15 09:50] #20 closed

[2021-06-15 09:52] agrignard commented on #1
Ok so after checking the last commit it seems that we are close to close this issue
@nqlong-vlab maybe for future issue if you can refer in your message commit that its fixing an issue (just right #1 in the message of your commit) then we can be notified that a specific commit has been made on a specific issue.

I let this issue open for now just in case there are some slight change to do especial

[2021-06-15 09:57] nqlong-vlab commented on #1
@agrignard I agree. I will do in the next issues.

[2021-06-15 09:57] dangbuingochan commented on #3
@doorleyr The zone's codes from 266 to 311, from the HIDS survey, belong to the regions outside Ho Chi Minh city.

[2021-06-15 10:02] agrignard commented on #1
OK so the data looks great now but I would say they allmost look to great;-) There was actually an issue or a discussion somewhere about the fact that you cannot send the vector layer to cityIO because it was too big

I am afraid that they are a bit to heavy and actually overdefined for shat we need to do. Let me explain this with an example for the landuse would it be possible to drasticaly reduc

[2021-06-15 10:33] doorleyr commented on #3
@dangbuingochan thanks for the clarification. I noticed another issue with the mapping. Several of the survey areas map to the same ward code. eg. areas 3, 4 and 5 all map to the code '26740'. Is this expected or an error? If it's expected can you explain why?

[2021-06-15 10:51] dangbuingochan commented on #3
@doorleyr In the HIDS survey, have some cases like that, you can see the image I attach below.
<img width="945" alt="Screen Shot 2021-06-15 at 17 48 34" src="https://user-images.githubusercontent.com/84071715/122040592-3044be00-ce02-11eb-8c3d-97a99f309b06.png">

[2021-06-15 11:17] Hai-Hoang-88 commented on #1
@agrignard can you elaborate your idea about "reducing number of point"? Maybe some quick sketches about it?

[2021-06-15 11:26] agrignard commented on #1
In this case the original form in yello is made of many points I don't knwo exactly but something like 30 points and it could be replace by the white shape which is only made of 4 poitns.

This example is volontary drastically different and made by had but you get the concept? There are many tools to simplified a geometry by keeping its topology.

OF course you do'nt want to do it by hand I sugges

[2021-06-18 02:15] Hai-Hoang-88 commented on #1
@agrignard thank you. We will look into it.

[2021-06-18 10:38] doorleyr commented on #9
This issue is now the main bottleneck towards having working CityScope model. We usually only have ~10 types for a CityScope table because any more than that makes the user experience too complicated. Many of the types in the list above are very similar and can be consolidated into type. Also some of the types are referring to future plans (eg. Expected School) and this is a problem. These areas s

[2021-06-18 10:46] nqlong-vlab commented on #9
I agree, so I will add the column as CityScope type.

[2021-06-20 16:18] Hai-Hoang-88 commented on #3
@doorleyr As @dangbuingochan mentioned to me, when income aggregate into 3 groups: low, medium, high, the result showed number of people in range medium is significant low in comparison to other ranges. Our concerns is about sampling bias, is there any method to work around or validate this statistic.

[2021-06-21 09:21] doorleyr commented on #3
@Hai-Hoang-88 I have done a first pass of the aggregations in this notebook:
https://github.com/CityScope/CSL_HCMC/blob/main/data_analysis/aggregate_survey_data.ipynb
I used 4 income level groups which have approximately equal numbers of people.

[2021-06-23 20:33] LAAP commented on #9
@Markus and I are working on this.

Tonight we will have have a very simplified version with the 14 types that ARC team has selected and correlated just with the LBCS

[2021-06-23 20:51] LAAP commented on #9
From @Markus:

 _Hello All - @LAAP Luis and I went through the Land Use and added a consolidated list to the right of the sheet (Columns U-V). Note that Mixed Use is a combination of land uses in one cell... IE if a building includes residential and retail space, that cell would include 1000, and 2000 for the uses.

Also note that we had included a very good reference document on the project page

[2021-06-25 11:29] Hai-Hoang-88 commented on #1
@LAAP: after working with Front_End, I figured out we will have 3 interaction models (plate) presenting 3 urban structures (landuse). So to control the year (2021/2030) (which will control the population), we must use tablet to send that signal. In that case, what will happen if audience select the year 2021 and load physical model as scenario 2? Technically we will have 6 scenarios: {scenario 0:

[2021-06-25 11:39] Hai-Hoang-88 commented on #1
I see we can simplify this GIS file, however we have already printed our 3D model base on this GIS file. It may create a certain differences.

[2021-06-25 11:59] Hai-Hoang-88 commented on #9
Great, @nqlong-vlab please refer to the link while you create additional "City Scope Type" column for:
https://docs.google.com/spreadsheets/d/19D1czN65F05iamg5kvdG9rJ46cZPvfrojBQ89XqUGrI/edit#gid=1953133771.

[2021-06-25 13:44] LAAP opened #25 "Decision between 3, 4 or 6 scenarios"
@LAAP: after working with Front_End, I figured out we will have 3 interaction models (plate) presenting 3 urban structures (landuse). So to control the year (2021/2030) (which will control the population), we must use tablet to send that signal. In that case, what will happen if audience select the year 2021 and load physical model as scenario 2? Technically we will have 6 scenarios: {scenario 0:

[2021-06-25 13:45] LAAP commented on #1
Dear @Hai-Hoang-88 ,

I have moved the Question about the 3, 4 or 6 scenarios into a new issue

[2021-06-25 13:54] LAAP commented on #25
Dear @Hai-Hoang-88 ,

From your text, it seams to me that we have the following scenarios:

scenario 0: 2021+interaction plate 1,
scenario 1: 2030+ interaction plate 1, **missing: 2021 + interaction plate 2,**
scenario 2: 2030 + interaction plate 2, **missing: 2021 + interaction plate 3,**
scenario 3: 2030 + interaction plate 3

My suggestion is to make a new plate for scenario 1: 2030, so we have

[2021-06-25 14:25] LAAP commented on #9
Dear @Hai-Hoang-88 ,

After talking with Ronan, we need also to add:

The Naics code(s)    **[Luis and Markus]**
The density (sqm/person) where applicable     **[ARC]**
A color ( I think this should roughly follow lbcs    **[Luis and Markus]**

We will do it As soon as possible

[2021-06-25 16:22] LAAP commented on #9
Dear @Hai-Hoang-88 ,

Please find the update in the types, we have added to the table the The Naics code(s)and the color, as @doorleyr has suggested. The only thing missing is the The density (sqm/person) where applicable:

<img width="394" alt="Screen Shot 2021-06-25 at 12 19 03 PM" src="https://user-images.githubusercontent.com/19315213/123455465-b950b780-d5af-11eb-8566-ef68ce3cd031.png">

 You

[2021-06-25 23:54] Hai-Hoang-88 commented on #25
Dear @LAAP , It is also an option. I agree that it will be clear if we keep the methodology.

With this option, we may need to discuss with hardware team for create another plate, software team on how to show it different but at the same time consistency, and maybe involve in tablet task.

I suggest a quick catch-up meeting to discuss about this and define what will be the best option to go.

[2021-06-28 15:25] agrignard opened #26 "GAMA model for District 4"
As discussed with @Hai-Hoang-88 we will implement a first GAMA model for this project.

@doorleyr when do you think the issue will be closed https://github.com/CityScope/CSL_HCMC/issues/3 so that GAMA can wait for data sent by your module in order to instanciate it.

In the mean time, even if we don't have yet the aggregate value, @Hai-Hoang-88 can you have a look at this repo taht give the possib

[2021-06-28 15:43] doorleyr commented on #26
I'll hopefully have an endpoint you can read from (eg. ...api/table_table_name/od) by the end of the week.

[2021-06-28 15:44] LAAP commented on #25
Hi @Hai-Hoang-88 ,

Yes, let's have a meeting between the Hardware and the software team and then we can decide the most efficient/convenient  solution

[2021-06-28 16:23] agrignard commented on #25
I am also in favor++ to keep what is planned which is 4 scenarios and 4 plate. We can always (ones this is made) think about better solution but for now we need to stay on what was planned as some decision as already been taken in term fo design.

If we all agree on that let's also close this issue to focus on the remaining ones

[2021-06-28 16:27] agrignard commented on #1
For the simplification of the shape ,**IT IS NEEDED** as CityScope doesn't allow to push so highly definite files and even for any modules it doenst make sense to have to high level definition . Even if the 3D model is already in process actually (it would have been great to agree on this together before and it might have also simplified the construction of the model) it's ok to simplify the shape

[2021-06-29 13:56] Hai-Hoang-88 commented on #9
The excel file has been updated, please take a look @doorleyr

[2021-06-29 16:27] LAAP commented on #9
Awesome @Hai-Hoang-88 , Thanks for adding the average sqm.
So, The final numbers are:

<img width="530" alt="Screen Shot 2021-06-29 at 12 26 21 PM" src="https://user-images.githubusercontent.com/19315213/123834407-63448280-d8d5-11eb-9965-b22bd645b698.png">

[2021-06-29 16:36] Hai-Hoang-88 commented on #9
A few updates from data team is adding that 14 cityscope landtypes in shapefile for all scenarios.

[2021-06-29 22:56] LAAP commented on #9
Awesome!

[2021-06-30 09:11] agrignard commented on #26
@doorleyr do not hesitate to notify me (through this channel) as soon as we have something that we can plug

[2021-07-01 15:11] LAAP commented on #1
Dear @Hai-Hoang-88 , @agrignard et al.
Please, let us know your thoughts about:

A- Keeping the 4 scenarios as it is, and making a "Twin" 3D plates for scenarios 0 and 1. The Twin plates can have a label with the name of the scenarios, and even, different level of transparency or color.

B- Having only 3 scenarios scenarios, so we remove the scenario number 1, and we have 3 completely different 3D

[2021-07-01 16:01] #3 closed

[2021-07-01 18:01] doorleyr commented on #26
@agrignard
A first pass of this is now ready. I set up a new table hcmc_gama for testing and the endpoint you can read from to get the trip demand information is here:
https://cityio.media.mit.edu/api/table/hcmc_gama/od

This is currently live and will update in response to any changes in the GEOGRID. Whenever the hash changes, you can read and make an update:
https://cityio.media.mit.edu/api/tabl

[2021-07-02 03:23] TuCTruong commented on #9
Thanks, @Hai-Hoang-88 for your help in updating the information.

Dear @LAAP , @doorleyr and All, after working with the Data team and Hai, I d like to revise the number and explain to you a little bit about the table above.

As I mentioned on Whatsapp, the value sqm/person we have provided above is for land area. (_Since we don't have a specific sqm/person for floor area ready in our planning doc

[2021-07-02 06:34] agrignard commented on #26
Awesome! Let's see how this can be plugged in the model developed with  @Hai-Hoang-88 (by the way @Hai-Hoang-88 can you commit your model ?)

[2021-07-02 07:18] Hai-Hoang-88 commented on #26
Thank you @doorleyr and @agrignard. The ABM district 4 was created by Tiep.

Please kindly take a look at his work:
https://github.com/csl-hcmc/Analysis/tree/master/District4/models

[2021-07-02 08:51] agrignard commented on #26
@Hai-Hoang-88  you can see here that @doorleyr 's work is pushed on this repo so can we please to the same for the GAMA model (It's not possible and sustainalbe to maintain 2 repo in //)

For the front end (CityScopeJS) it might be another issue and I think there has been a fork for other reason. For the backend I insist that we need to be consistent together or we will loose lot of time and infor

[2021-07-03 17:09] LAAP commented on #26
Hi @agrignard , I confirm that this should be the repo of reference. Where is the issue? Are people using other repo?

[2021-07-05 08:35] agrignard commented on #26
@LAAP Yes there is other repo  as mention in the comment just above there is also this github
https://github.com/csl-hcmc/Analysis/tree/master/District4/models

@Hai-Hoang-88 can you clarify the situation so we knwo on which repo to work and ideally be sure that everything is update HERE (I mean this one https://github.com/CityScope/CSL_HCMC)

[2021-07-06 10:44] doorleyr commented on #9
@TuCTruong thanks. The figure we're looking for is sqm per person per floor, assuming that the floor occupies the entire area of the grid cell. If the building footprints will occupy less than the full area, this should be factored into the density value.

For example, if we have a grid cell of 50m x 50m which is assigned to 10 floors of Residential, using the figure above of 8sqm/person, we would

[2021-07-06 16:56] doorleyr commented on #9
Apart from the density values, here still a few other issues with the CSL types which need to be addressed:
- the CSL type names in the land use shape files include a 'Water' type whereas the [type definitions](https://docs.google.com/spreadsheets/d/19D1czN65F05iamg5kvdG9rJ46cZPvfrojBQ89XqUGrI/edit?usp=sharing) include a River(Water) type. The type names must be exactly the same in the type defini

[2021-07-06 17:23] Hai-Hoang-88 commented on #26
For me, I don't mind about placeholder for sour-codes. It will be awesome to be centralized in one place. And Tiep is in charged of commit the GAMA. In Wednesday, we may have a little time to discuss about this management.

[2021-07-07 09:08] TuCTruong commented on #9
Hi @doorleyr ,

Yes then the figure in Column C will do it. I have updated the reference for the number and assumption.

![image](https://user-images.githubusercontent.com/86518812/124732014-fc5e4380-df3c-11eb-8aa6-554be8768e51.png)

You may find this in the same link: https://docs.google.com/spreadsheets/d/19D1czN65F05iamg5kvdG9rJ46cZPvfrojBQ89XqUGrI/edit#gid=1172435229

[2021-07-07 15:32] agrignard commented on #25
We all agree that we for 3 scenarios (0,2 and 3). So I close this issue

[2021-07-07 15:32] #25 closed

[2021-07-07 15:33] agrignard commented on #1
This is strongly link to issue #9 so we close it

[2021-07-07 15:33] #1 closed

[2021-07-07 21:57] LAAP commented on #9
Dear @doorleyr and @TuCTruong,

Please, let me answer @doorleyr questions:

**1) The CSL type names:** @Markus and I have adapten the definitions of our CS types to the ARC definitions, so now "Water" is the correct name for this land use. **We encourage @TuCTruong and the ARC team to do the same in the geo-referenced files that are being produced for the 3 Scenarios by the ARC team**

**2) 'Mix-u

[2021-07-07 22:12] LAAP commented on #9
Dear @TuCTruong,

We have take the missing density of office and healthcare (in red) from the following [link](https://www.engineeringtoolbox.com/number-persons-buildings-d_118.html). It is not the most scientific link, but sometimes helps in order to have an OK place holder and move ahead.

Regarding your Excel file, I have some suggestions, now that we have no scenario 1, That it was messing up

[2021-07-08 03:29] TuCTruong commented on #9
Hi, thanks Luis,

Yes, I agree with the scenario and density. It was for reference only. So, I'll hide scenario 1 in the file.
Also thanks for the ref. on room area. It simplifies all these numbers.

[2021-07-08 03:49] TuCTruong commented on #9
Dear @doorleyr , @LAAP ,

- I have checked with @dangbuingochan , our data team has changed the land use to Water in the 3 scenarios.
- For the mix-use. There is actually not very clear guidance for us, the 70-30 sounds logical to me. I have put a little ref. on the same file to compare with the land use and seems like it looks perfect. I think we are okay to stick with this.

I have questions her

[2021-07-08 11:48] doorleyr commented on #9
@TuCTruong Can you please remove the numbers before the names and ensure that the types names are always the exact same in terms of whitespace, punctuation etc.

If there are any types which never appear in the scenarios then I think they should be removed.

[2021-07-08 16:02] LAAP commented on #9
Dear @TuCTruong and @dangbuingochan,

I have a question about the art of the excel where you show the 3 scenarios. I can see that the "m2" doesn't increase in scenario 2 and 3 (It si always 4178668.5 m2), even when, at this scenarios we are incrementing the density of buildings (Towers and high buildings are planned). So I suppose that you are just sowing the m2 of land, and not the "m2 constructe

[2021-07-09 14:29] TuCTruong commented on #9
Hi @LAAP ,

I and @dangbuingochan have updated this table with values from Data team. You may find the constructed area in columns J, O, R. Made it by (footprint x number of floor). Please check the same link.

![image](https://user-images.githubusercontent.com/86518812/125093047-26119900-e0fc-11eb-874f-65879626955a.png)

[2021-07-12 13:27] LAAP commented on #9
Dear @TuCTruong ,
Thank you very much. This is very useful!

[2021-07-12 22:43] LAAP commented on #9
Dear all, Since it looks like we have solved the types I am closing this issue.

Please, feel free to open it again if needed

[2021-07-12 23:17] LAAP opened #28 "3 Scenarios. Text for the demo"
Please, find the 1st draft of the text for the demo of the 3 scenarios. Please, let me know your thoughts:

https://docs.google.com/document/d/1iegZ8U6A3uy5qsTP9QaMTJLNPnZ92sJ9Ii7Numhpe30/edit?usp=sharing

This document is a working document so we can try to refine the text that we will pitch on the demos of the HCMC D4 CityScope table. These texts are “educated guesses”  based on the [comparison

[2021-07-14 11:18] agrignard commented on #28
Great! Sounds pretty good so far!

[2021-07-16 16:17] doorleyr opened #30 "Triggering of 3 static scenarios"
For the physical table demo in the summer, we will have 3 static scenarios (0,2 and 3). The hardware interactions need to trigger the scenarios to change. This requires updating the following on each view:
- the GEOGRID and GEOGRIDDATA layers depicting the state of the site
- the accessibility heatmaps
- the indicators
- the mobility visualisations

The heatmaps, indicators and mobility visualisat

[2021-07-19 03:01] nguyenledly commented on #30
Hi @doorleyr I am Tuan and in charge of JS. Could you give me the way you convert the GIS data into GRID to commit on CityIO? Cause I am not familiar with GIS data (.shp, .sbx, ....). Thank you so much.

[2021-07-20 09:15] doorleyr commented on #30
Hi @nguyenledly this can be done in python with geopandas. I created a script to do this and saved the results: in the scenarios/results folder.
https://github.com/CityScope/CSL_HCMC/blob/main/scenarios/lu_to_geogrids.ipynb

The parameters of the grid (position, rotation, cell size etc.) were set based on analysis done in this notebook:
https://github.com/CityScope/CSL_HCMC/blob/main/data_analysis

[2021-07-21 08:12] nguyenledly commented on #30
Thank you @doorleyr , I will take a look on that.
About updating relevant layers each time the hardware triggers a new scenario. I have done that and in testing process to make sure everything work fine.

[2021-07-21 15:34] doorleyr commented on #9
After running some analysis of scenarios and taking a closer look at the types, there appear to be a few issues to be solved:
1. Density: the densities of the land uses are too high (i.e. sqm_per_person is too low) and this is causing the residential and working population estimates to be much too high in all scenarios. eg. in the baseline scenario, the site population works out as 5 million and t

[2021-07-21 15:46] doorleyr opened #31 "Normalisation of the indicators in static scenarios"
Cityscope indicators are by default scaled to between 0 and 1 for the radar plot. Some of the indictors such as live-work score and diversity are automatically on a 0-1 scale. For others such as density and proximity, this is done by choosing a max and min value and using the formula:
[code]

The minimum and maximum values of each indicator should be chosen so as to span realistic ranges of these

[2021-07-22 01:18] TuCTruong commented on #9
Thanks Ronan,

1. You might want to try Column C, Sheet 'Updated land area - population'. I didn't change the value, just adding reference. Let  me know if you have any doubt in the result.

2. Types you mentioned are for spatial function. In urban management here, we don't have specific land use for F&B, accom., retail, etc.

@Hai-Hoang-88 and team Data @nqlong-vlab might want to discuss this. Fr

[2021-07-22 12:51] LAAP commented on #9
Dear @TuCTruong , @dangbuingochan, @Hai-Hoang-88, and @nqlong-vlab ,

I think that matching the CS types with the exact land use it will be challenging (as @TuCTruong is commenting) so we will need to be "creative", so keeping that in mind, Please, let me try to help here:

1. Please, use the link as a reference, so, if it is unclear the real density for Vietnam, we can use the density from this t

[2021-07-23 08:03] namkyodai commented on #9
Hi Ronan,

Would you kindly advise on the steps in order to address the item 2 as raised? using an example of existing data file.

From programing perspective, I wonder this assumption on percentage can be done in an automate fashion rather than manually editing the shape file. For example, within commercial or mixed-use land use categories (or types), if we want to include sub-types (food, retail

[2021-07-23 09:52] doorleyr commented on #9
@namkyodai the data input we need to adapt is just a simple csv which describes each Type.
https://github.com/CityScope/CSL_HCMC/blob/main/Data/Table/cs_types_2.0.csv

We don't have a concept of sub-types- instead we describe each Type by the typical composition of land uses (LBCS) and economic activity (NAICS).

The idea of stochastically assigning percentages based on a range makes sense but wou

[2021-07-23 10:49] namkyodai commented on #9
@doorleyr, my understanding of subtypes are similar to the composition you mentioned.

Agree with your point below
"In general the use of these types is a simplification and will not capture the real activities perfectly but it's a necessary abstraction in order to make the model understandable to non experts."

btw, in order for you to complete that task (running the model on provided dataset), i

[2021-07-25 15:31] LAAP commented on #9
Dear @TuCTruong , @dangbuingochan, @Hai-Hoang-88, and @nqlong-vlab ,

Do we have a first pass of the new update to the 14-18 types? As soon as you share it with me, I will translate it to NAICS and LBCS

Thank you very much in advance

Luis

[2021-07-26 14:06] TuCTruong commented on #9
Dear @LAAP , @doorleyr
Regarding the land types, the team is working on that and we will have it by mid-week. There won't be much change in the groups but there will be more details regarding the functions included inside. That will also be easier for us to fill in the density :D.
Best,
Tu

[2021-07-28 13:50] LAAP commented on #9
Dear @TuCTruong , @dangbuingochan, @Hai-Hoang-88, and @nqlong-vlab , I have made a 1st pass to the excel that you are sharing to translate it to NAICS and LBCS:
https://docs.google.com/spreadsheets/d/19D1czN65F05iamg5kvdG9rJ46cZPvfrojBQ89XqUGrI/edit#gid=225945613
This is a screenshoot:
<img width="742" alt="Screen Shot 2021-07-28 at 9 47 49 AM" src="https://user-images.githubusercontent.com/193152

[2021-07-28 13:50] LAAP commented on #9
<img width="742" alt="Screen Shot 2021-07-28 at 9 47 49 AM" src="https://user-images.githubusercontent.com/19315213/127333870-7e317c09-ca6c-46be-aeef-020093539831.png">

[2021-07-31 03:02] TuCTruong commented on #9
Thanks @LAAP ,

@vietlq@ueh.edu.vn and I have put these into the Sheet Updated_Landtype in the same doc. https://docs.google.com/spreadsheets/d/19D1czN65F05iamg5kvdG9rJ46cZPvfrojBQ89XqUGrI/edit#gid=523130602

- For the land types in Column B, we have walked through it in VN group. We think that we can work with it at this stage, in long term, it might need further adjustment. Land types here are .

[2021-07-31 03:27] TuCTruong commented on #9
Dear @doorleyr ,

Since we didn't be able to give enough density info. for all functions last time, that might cause you some misleading, hehe, we also added few more functions and revised them all now. So, @nngocquang.arc@gmail.com and I have made a 1st pass of the density for the Updated-Land type. We used the toolbox you provided and VN standard where applicable.

Since we are modifying the lan

[2021-08-03 12:37] LAAP commented on #9
Hi @doorleyr, and @TuCTruong , @dangbuingochan, @Hai-Hoang-88, and @nqlong-vlab ,

I just want to double check if the types and format are ready and being used. The last update from Vietnam team is a bit confusing for me. Can we translate it to a CSV file like this?:

https://github.com/CityScope/CSL_HCMC/blob/main/Data/Table/cs_types.csv

<img width="1283" alt="Screen Shot 2021-08-03 at 8 35 14 A

[2021-08-03 14:48] doorleyr commented on #9
@LAAP the spreadsheet you linked to above is not the right format. The right format is https://github.com/CityScope/CSL_HCMC/blob/main/Data/Table/cs_types_2.0.csv

We need the new types in this format before we can proceed.

[2021-08-03 15:32] TuCTruong commented on #9
Dear @LAAP , @doorleyr ,

The final land type will be as in Sheet Final_landtype_density in this spreadsheet.
- About the NAICS and LBCS code, since we are adding social housing, commercial housing and tenement in the Residential types, we could not find the code for this, can you help us in this matter.
- For other land types apart from Residential (Type 1, 2), there won't be any change in total

[2021-08-03 18:55] LAAP commented on #9
Dear @TuCTruong ,

I recommend using for housing types that matches with the existing LBCS types for housing:

1 | Household activities (Residential activities)

LBCS = 1100
NAICS = null

2 | Transient living (Residential activities)

LBCS = 1200
NAICS = null

3 | Institutional living (Residential activities)

LBCS = 1300
NAICS = null

[2021-08-13 10:38] TuCTruong commented on #9
Dear @LAAP , @doorleyr ,

@LeViet3910 ,  @nngocquang.arc@gmail.com and I have updated the land type and area per person. We may work on this value for now. If there is any value that is needed to be changed, we will let you know.
![image](https://user-images.githubusercontent.com/86518812/129344993-45025a23-a8a7-4cbc-b71c-53ac7f8c275b.png)

Please check this link here
https://github.com/CityScope/

[2021-08-13 12:47] doorleyr opened #34 "Use buildings shapefiles instead of land use shapefiles for the static scenario analysis"
The land use shapefiles reflect the areas pf parcels rather than the built area- therefore using them for the scenario analysis will overestimate the building capacities and therefore the residential and working populations.

However, the buildings files do not have a CSL_Land_Use_Type column, which is needed for the analysis. This can be added by overlaying the land-use shapefile with the buildin

[2021-08-13 12:52] doorleyr opened #35 "Validate OSM road network OR map the road network shapefiles to node table and link table format"
OSM road networks are currently used in analysis because the road network shapefiles are not available in node and link table format. If the road network shapefile can be converted to this format, then these can be used in the analysis. The node table should be a dataframe with the columns: node_id, longitude and latitude. The link table should be a dataframe with (at minimum) the columns from_nod

[2021-08-13 13:00] doorleyr opened #36 "Use separate density values for residents and employment"
The scenario analysis is currently based on a single density (sqm_per_person) value for each land use type. However, as discussed, it is more appropriate to use separate density values for employment and residential capacity as some land use types include both. Once the cs_types_2.0.csv file is updated with the 2 new density columns, the static_scenario_analysis.ipynb  notebook should be updated t

[2021-08-14 04:07] nqlong-vlab commented on #34
Hi @doorleyr doo, the building files already have CSL Land_Use_TypeType in scenarios 0,1,2,3,4. You can view it again. Let me know if you see it.
<img width="387" alt="Screen Shot 2021-08-14 at 11 05 17" src="https://user-images.githubusercontent.com/74805596/129433525-270a3a21-5ada-45cb-98a2-bd6e09206233.png">

[2021-08-14 04:14] nqlong-vlab commented on #35
Hi @doorleyr , I will convert the shapefile to format in node and link table, send you asas.

[2021-08-15 20:07] Hai-Hoang-88 commented on #9
Please refer density column in #36
for Mix-use row: NAICS : (null, 445110, 551114) and NAICS_proportions :(0.7, 0.15, 0.15). I am not sure if we can run `null * 0.7`

[2021-08-16 04:46] TuCTruong commented on #36
Dear @doorleyr ,

The employment and resident (sqm per person) have been updated in the csv.
![image](https://user-images.githubusercontent.com/86518812/129506638-e60e2a50-c843-4ee1-8c92-0beb553a63d0.png)

I have a doubt here, since we have multiple functions in land-type, do we need to give multiple densities for each function (correlating with LBCS or NAICS?) or shall we only give 1 density for

[2021-08-18 02:55] TuCTruong commented on #36
Dear Ronan, the final land type and density (sqm per person) has been updated at this link below.
https://github.com/CityScope/CSL_HCMC/blob/main/Data/Table/cslhcmc-landtype-v4.csv

[2021-08-23 20:12] LAAP opened #40 "Displacement/Gentrification Index - KAREN CHAPPLE"
Dear @Hai-Hoang-88 et al.,

After sharing ideas with Nhu, I have learned that most of the indicators are "under control", however, there are some questions related to the Displacement/Gentrification Index.

At the CS group we do not have yet our own Displacement/Gentrification Index, so we base our index into the work made by KAREN CHAPPLE (UC Berkeley).

Here is the methodology that KAREN CHAPPLE

[2021-08-30 12:11] agrignard commented on #26
Dear all, I was curious to see if there any udpate on this part. According to @Hai-Hoang-88 , Tiep might be working on this part. @Tiem le me know if you have nay question or need any help.

[2021-09-12 17:32] Hai-Hoang-88 commented on #28
We have updated indicators in the following links:

https://docs.google.com/spreadsheets/d/1nbsFK0gqCW393J-GeiXQTraWT9JyCtTS/edit#gid=1137687341

We are working on heatmaps for accessibility as well as Mobility simulation.
Please lets us know if you need anything further